<div class="jumbotron text-center">
  <h1>MEAN PC Parts</h1>
  <p class="lead">Welcome to our custom MEAN PC Parts application</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Angular-CLI</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>JSON Web Tokens</p>
  </div>
